/* body {
    background: #34495e;
  }
   */
* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

.container {
    max-width: 350px;
}

button.btn{
    border-radius: 2em;
}

.hide {
    display: none;
}

.cursor-pointer {
    cursor: pointer;
}

.todo-item {
    margin: 10px auto;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
}
  
.empty {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cccc;
}

.empty div img:nth-child(2) {
    width: 100%; 
 }
 
 #tbody-todo-list input, #tbody-todo-list i {
     padding-right: 7px;
 }